<h3>Reactive forms</h3>
<form [formGroup]="fg" (ngSubmit)="validForm()">
  <p>Nom : <input type="text" formControlName="name"></p>
  <p *ngIf="fg.controls['name'].invalid && fg.controls['name'].touched" style="color : red;">
    <!-- {{fg.controls['name'].errors['myError']}} -->
  </p>
  <p>Naissance : <input type="date" formControlName="birthDate"></p>
  <p>Email : <input type="text" formControlName="email"></p>
  <hr />
  <h4>Téléphone : <button type="button" (click)="addPhone()">+</button></h4>
  <div formArrayName="phone">
    <p *ngFor="let field of getPhoneArray().controls; let i = index">
      <input type="phone" [formControlName]="i">
    </p>
  </div>
  <p><button type="submit" [disabled]="fg.invalid">Valider</button></p>
</form>
