ul{
  padding: 0px;
  width : 100%;
  display: flex;
  flex-direction: column;
}
li{
  transition-duration: 0.3s;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  list-style: none;
  text-decoration: none;
}
.subLk li{
  padding-left: 30px;
}
a{
  font-size: 1.1em;
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color : white;
  text-decoration: none;
  background-color: rgb(76, 130, 231);
}
a:hover{
  background-color: rgb(110, 117, 93);
}
a:visited{
  color : white;
}

.selected{
  background-color: rgb(110, 117, 93);
}
